<template>
  <q-page class="flex flex-center">
    <div class="row text-center gutter-md">
        <div class="col-12">
            <img src="statics/images/fuel-watch-logo.jpg" alt="">
        </div>
        <div class="col-12 ">
            <q-btn class="btn-wide" color="secondary" label="LOG IN"  @click="login_modal = true" />
        </div>
        <div class="col-12 text-primary">
            <p><strong>Don't have an account yet?</strong>&nbsp;<span style="text-decoration: underline" @click="register_modal = true">Sign Up </span> </p>
        </div>
    </div>
    <!-- LOGIN MODALS -->
    <q-modal  v-model="login_modal"  :minimized="true">
        <div class="row text-center q-pa-lg" v-if="login_modal">
            <div class="col-12">
                <h3 v-if="isLogin"><strong>Log In</strong></h3>
                <h3  v-if="!isLogin"><strong>Forgot Password</strong></h3>
            </div>
            <div class="col-12">
                <q-input v-model="login_email" name="login_email" type="email" v-validate="'required'" float-label="Email"></q-input>
                <span class="has-error"> {{ errors.first('login_email') }} </span>
                <q-input v-model="login_password" v-if="isLogin" type="password" float-label="Password"></q-input>
            </div>
            <div class="col-12 q-py-lg">
                <q-btn class="btn-wide" color="primary" label="LOG IN" v-if="isLogin" @click="loginUser()" />
                
                <q-btn class="btn-wide" color="primary" label="SEND" v-if="!isLogin" @click="sendForgotPassword()" />
            </div>
            <div class="col-12">
                <p v-if="isLogin">
                    Forgot Password? <span class="text-tap" @click="isLogin = false"> Click Here </span>
                </p>
                 <p v-if="!isLogin">
                    Back to login? <span class="text-tap" @click="isLogin = true"> Click Here </span>
                </p>
            </div>
        </div>
       
    </q-modal>
    <!-- REGISTER MODAL -->
    <q-modal  v-model="register_modal" :minimized="true">
        <div class="row text-center q-pa-lg" v-if="register_modal">
            <div class="col-12">
                <h3><strong>Sign Up</strong></h3>
            </div>
            <div class="col-12">
                <template v-if="register_form == 0">
                <q-input v-model="register_first_name" name="register_first_name" v-validate="'required'" type="text" float-label="First name"></q-input>
                <span class="has-error"> {{ errors.first('register_first_name') }} </span>
                <q-input v-model="register_last_name" name="register_last_name" v-validate="'required'" type="text" float-label="Last name"></q-input>
                <span class="has-error"> {{ errors.first('register_last_name') }} </span>
                <q-input v-model="register_email" name="register_email" v-validate="'required'" type="text" float-label="Email"></q-input>
                <span class="has-error"> {{ errors.first('register_email') }} </span>
                <q-input v-model="register_password" name="register_password" v-validate="'required'" type="password" float-label="Password"></q-input>
                <span class="has-error"> {{ errors.first('register_password') }} </span>
                <q-input v-model="register_mobile_number" name="register_mobile_number" v-validate="'required'" type="text" float-label="Mobile Number"></q-input>
                <span class="has-error"> {{ errors.first('register_mobile_number') }} </span>
                </template>
                <template v-else-if="register_form == 1">
                <q-select v-model="register_car_brand" name="register_car_brand" v-validate="'required'" :options="car_brands" float-label="Car Brand"></q-select>
                <span class="has-error"> {{ errors.first('register_car_brand') }} </span>
                <q-select v-model="register_car_model" name="register_car_model" v-validate="'required'" :options="car_models" float-label="Car Model"></q-select>
                <span class="has-error"> {{ errors.first('register_car_model') }} </span>
                <q-select v-model="register_fuel_type" name="register_fuel_type" v-validate="'required'" :options="car_fuels" float-label="Fuel Type"></q-select>
                <span class="has-error"> {{ errors.first('register_fuel_type') }} </span>
                <q-input v-model="register_default_refuel_amt" name="register_default_refuel_amt"  v-validate="'required|min:0'" type="number" float-label="Default Refuelling Amount"></q-input>
                <span class="has-error"> {{ errors.first('register_default_refuel_amt') }} </span>
                </template>
            </div>
            <div class="col-12 q-py-lg">
                <q-btn class="btn-wide" v-if="register_form == 0" color="secondary" label="NEXT" @click="nextForm()" />
                <q-btn class="btn-wide q-mx-sm" v-if="register_form == 1" color="primary" label="BACK" @click="register_form = 0" />
                <q-btn class="btn-wide q-mx-sm" v-if="register_form == 1" color="secondary" label="SUBMIT" @click="nextForm()" />
            </div>
        </div>
    </q-modal>
  </q-page>
</template>

<style>
</style>

<script>
/* eslint-disable */

export default {
  name: 'Login',
  data () {
      return {
          res:null,
          /* LOGIN FORM */
          isLogin: true,
          login_modal: false,
          login_email: '',
          login_password: '',
          /* REGISTER FORM */
          register_modal: false,
          register_form: 0,
          register_first_name: null,
          register_last_name: null,
          register_email: null,
          register_password: null,
          register_mobile_number: null,
          register_car_brand: "Toyota",
          register_car_model: "",
          register_fuel_type: "Diesel",
          register_default_refuel_amt: 500,
          // OPTIONS
          cars: null,
          car_fuels: [
            {
                label: "Diesel",
                value: "Diesel"
            },
            {
                label: "Gasoline",
                value: "Gasoline"
            },
            {
                label: "Premium",
                value: "Premium"
            }
          ]
      }
  },
  methods: {
    loginUser () {
        this.$validator.validate('login_email').then(result => {
            if (result) {
                this.myLoading.show('verifying details...')
                console.log("LOGIN")
                let payload = {
                    'email' : this.login_email,
                    'password' : this.login_password
                }
                axios.post( 'login_user' , payload )
                .then((response)=>{
                    this.myLoading.hide()
                    console.log(response);
                    if(response.data.length > 0) {

                        this.$session.set('user_data', response.data[0])

                        this.$router.push( "/dashboard/home" )
                    }else{
                        if(response.data == 2){
                            alert("please activate your account first")
                        }else{
                            alert( "invalid email address/password" )
                        }
                    }
                })
                .catch( (error)=>{
                    console.log(error);
                });
            
            }
        });
        
    },
    sendForgotPassword(){
         this.$validator.validate('login_email').then(result => {
            if (result) {
                
                this.myLoading.show('verifying details...')
                console.log('forgot password')
                let payload = {
                    email: this.login_email
                }
                axios.post( 'forgot_password' , payload )
                .then((response)=>{
                    
                    this.myLoading.hide()
                    console.log(response)
                    if(response.data){
                        alert("Password Reset has been sent")
                        this.isLogin = true
                        this.login_modal = false
                        this.login_email = null
                        this.login_password = null
                    }else{
                        alert("Invalid Email Address")
                    }
                });
            }
        });
    },
    registerUser () {
        
        this.myLoading.show('proccessing data...')

        let user = {
            'first_name' : this.register_first_name,
            'last_name' : this.register_last_name,
            'email' : this.register_email,
            'password' : this.register_password,
            'mobile_number' : this.register_mobile_number
        }
        let user_meta = {
            'car_ID': this.register_car_model,
            'fuel_type' : this.register_fuel_type,
            'default_refuel_amt' : this.register_default_refuel_amt
        }
        let payload = {
            'user' : user,
            'user_meta' : user_meta
        }
        console.log(payload)
        axios.post( 'register_user' , payload )
        .then((response)=>{
            console.log(response);
            this.myLoading.hide()
            if(response){
                console.log('user successfully registered')
                alert('user successfully registered')

                this.reset_register()
            }else{
                console.log('oops something went wrong!')
            }
        })
        .catch( (error)=>{
            console.log(error);
        });
    },
    nextForm(){
         this.$validator.validateAll().then(result => {
             console.log(this.errors)
             if(result){
                 if(this.register_form == 0){
                this.register_form = 1
                }else{
                    this.registerUser()
                }
             }
        })

    },
    reset_register () {
        this.register_modal =  false
        this.register_form =  0
        this.register_first_name =  null
        this.register_last_name =  null
        this.register_email =  null
        this.register_password =  null
        this.register_mobile_number =  null
        this.register_car_brand =  "Toyota"
        this.register_car_model =  ""
        this.register_fuel_type =  "Diesel"
        this.register_default_refuel_amt =  500
    }
  },
  mounted () {
    this.myLoading.show('loading...')
    axios.get( 'get_cars' )
        .then((response)=>{
            this.myLoading.hide()
            console.log(response.data)
            this.cars = response.data
        })
    this.reset_register()
    
  },
  
  computed: {
      car_models () {
        
            /* {
            label: "Vios",
            value: "Vios"
            }, */
        let models = []
        this.cars[this.register_car_brand].forEach ( (car) => models.push({ label: car.car_model, value:car.ID }) )
        
        
        return models
      },
      car_brands () {
            let brands = []
            Object.keys(this.cars).forEach( (car) => brands.push({ label: car, value: car })  )

            return brands
      }

  }
}
</script>
