<template>
    <q-page>
        <div class="help-container" :style=" 'background-image: url(statics/images/NewInfographics3.jpg)  ' ">
        </div>
    </q-page>
</template>
<script>
/* eslint-disable */
export default {
    name: 'profile',
    data () {
        return {
            user_data: null,
        }
    },
    mounted () {
        this.user_data = this.$session.get('user_data');
    }
}
</script>
