<template>
    <q-page>

        <q-page-sticky position="bottom-right" :offset="[18, 18]">
            <q-btn round color="primary" @click="refreshHome()" icon="refresh" />
        </q-page-sticky>

        <div class="row text-center top-station" v-if="sortedStations">
            <div class="col" :class="{ 'active' : ind == top } " v-for="(x,ind) in sortedStations.slice(0,3)" @click="goToGas(x,ind)" >
                <p class="heading">Top {{ ind + 1 }} Choice</p>
                <strong class="gas"> {{ x.station.station_name }} </strong>
            </div>
        </div>
        
        <GmapMap
            id="myMap"
            ref="mapRef"
            :center="center"
            :zoom="14"
            style="width: 100%; height: 60vh"
        >
        <GmapMarker
            :position="myPos"
            :clickable="true"
            :draggable="false"
            :zIndex="999"
            @click="center=myPos"
            :icon="{url: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'}"
        />
        <GmapMarker
            v-if="sortedStations"
            v-for="(gas,ind) in sortedStations.slice(0,3)" 
            :position="gas.pos"
            :clickable="true"
            :draggable="false"
            :zIndex="999"
            :label="'' + (ind + 1)"
            @click="gasStationDetails(gas)"
            :icon="topStationMarker(gas.station.station_name)"
        />
        <GmapMarker
            v-if="sortedStations"
            v-for="(gas,ind) in sortedStations.slice(3)" 
            :position="gas.pos"
            :clickable="true"
            :draggable="false"
            :zIndex="998"
            @click="gasStationDetails(gas)"
            :icon="stationMarker(gas.station.station_name)"
        />
        <gmap-info-window 
            @closeclick="windowOpen=false" 
            :opened="windowOpen" 
            :position="endPos"
        >
            <div v-if="windowOpen" class="station-info">
                <div class="name"> {{ stationInfo.station.station_name }} </div>
                <div class="location"> {{ stationInfo.station.location }} </div>
                <div class="distance"> Distance: {{ stationsDistance }} Km </div>
                <div class="travel"> Approximate Travel Time: {{ stationTravelTime }} Mins </div>
                <div class="gas_cost"> Gas to Station: {{ stationKML }} L </div>
                <div class="refuel"> Refuel {{ user_data.default_refuel_amt }}Php/{{ user_data.fuel_type }}: {{ stationRefuel }} L </div>
                <div class="net_fuel"> Total Gas: {{ stationTotal  }} L </div>
                
                <div class="price"> 
                    <div> <strong>Gas Prices</strong> </div>
                    
                    <div class="row text-center">
                        <div class="col-4" :class="{'active' : fuel.fuel_type == user_data.fuel_type}" v-for="(fuel,ind) in stationInfo.fuels">
                            <div><strong>{{ fuel.fuel_type }}</strong></div> 
                            <div>
                            <strong v-if="fuel.fuel_type == user_data.fuel_type">
                                {{ parseFloat(fuel.fuel_price).toFixed(2) }}
                            </strong>
                            <span v-else>
                                 {{ parseFloat(fuel.fuel_price).toFixed(2) }}
                            </span>
                            
                            </div>
                            <div style="font-size:10px" ><div>Last Updated</div> {{ fuel.modified_at }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </gmap-info-window> 

        </GmapMap>
        <div class="row middle text-center bg-primary text-white q-py-sm">
            <div class="col-12 " >
                <q-option-group
                    dark
                    inline
                    type="checkbox"
                    color="orange"
                    v-model="filter_box"
                    :options="[
                    { label: 'Caltex', value: 'caltex' },
                    { label: 'Petron', value: 'petron' },
                    { label: 'Shell', value: 'shell' }
                    ]"
                />
            </div>
        </div>
        <div class="row middle text-center q-pt-lg">
            <div class="col-6" v-if="endPos.lat">

                <a :href="'google.navigation:q=' + endPos.lat + ', ' + endPos.lng" class="q-btn inline relative-position q-btn-item non-selectable q-btn-round q-focusable q-hoverable bg-primary text-white">
                    <div class="q-btn-inner row col item-center justify-center">

                        <i aria-hidden="true" class="q-icon material-icons">near_me</i>
                    </div>
                </a>
                <p>Navigate</p>
            </div>
            <div class="col-6"  v-if="endPos.lat">
                <q-btn @click="update_price_modal = true" round color="secondary">
                <q-icon name="widgets" /> 
                </q-btn>
                <p>Update Prices</p>
            </div>
        </div>


        <q-modal  v-model="update_price_modal" :minimized="true">
            <div class="row text-center q-pa-lg">
                <div class="col-12">
                    <q-btn block outline color="primary" class="full-width" @click="takePhoto()">
                        <q-icon name="camera_enhance" class="float-left" />
                        <span>Take Photo</span>
                    </q-btn>
                </div>
                <div class="col-12 q-py-lg">
                    <q-btn block outline color="secondary" class="full-width"  @click="uploadPhoto()">
                        <q-icon name="view_list" />
                        <span>Upload Photo</span>
                    </q-btn>
                </div>
                <div class="col-12">
                    <q-btn block outline color="danger" class="full-width" @click="update_price_modal=false">
                       
                        <span>Cancel</span>
                    </q-btn>
                </div>
            </div>
        </q-modal>

        <!-- Image to Text Result -->
        <q-modal  v-model="text_result_modal" :minimized="true">
        <div class="row text-center q-pa-lg">
            <div class="col-12">
                <h3><strong>Receipt Content</strong></h3>
            </div>
            <div class="col-12">
                <q-input v-model="ocr_fuel" type="text" float-label="Fuel Type"></q-input>
                <q-input v-model="ocr_liter" type="text" float-label="Refuel Liters"></q-input>
                <q-input v-model="ocr_cost" type="text" float-label="Refuel Cost Per Liter"></q-input>
                <q-input v-model="ocr_total" type="text" float-label="Refuel Total"></q-input>
            </div>
            <div class="col-12 q-py-lg">
                <q-btn class="btn-wide" color="primary" label="Submit" @click="submitReceipt()" />
            </div>
            <div class="col-12">
                <q-btn class="btn-wide" outline color="secondary" label="Cancel" @click="text_result_modal = false" />
            </div>
        </div>
    </q-modal>

    </q-page>
</template>
<script>
/* eslint-disable */
export default {
    name: "home",
    data () {
        return {
            user_data: null,
            initWatch: false,
            watchID: null,
            top: null,
            myPos: {},
            endPos: {},
            gas_stations: [],
            update_price_modal: false,
            texted: 'init',
            filter_box: ['caltex','petron','shell'],
            // Google Maps and Location
            posarray: null,
            center: {
                lat: 14.558896,
                lng: 121.076774
            },
            directionsService: null,
            directionsDisplay: null,
            windowOpen: false,
            stationInfo: null,
            stationDirections: null,
            stationsDistance: null,
            stationTravelTime: null,
            stationKML: null,
            stationRefuel: null,
            stationTotal: null,
            distances_from_mypos: [],
            // OCR RESULT
            text_result_modal: false,
            ocr_image: null,
            ocr_fuel: null,
            ocr_liter: null,
            ocr_cost: null,
            ocr_total: null


        }
    }, 
    methods: {

        refreshHome(){
            navigator.geolocation.clearWatch(this.watchID)
            this.initWatch = false
            this.directionsDisplay.setMap(null);
            this.gas_stations = []
            this.myPos = {}
            this.endPos = {}
            this.windowOpen = false

            this.startGeolocation()
        },

        onDeviceReady() {
            this.startGeolocation()
        },
        /* Start Google Maps API  */
        startGeolocation(){
                
            this.myLoading.show('loading map...')
            this.watchID =  navigator.geolocation.watchPosition( this.geolocationSuccess, this.onError, { enableHighAccuracy: true } )

        },
        /* When Location Successfully Found */
        geolocationSuccess(pos) {
            
            console.log("SUCCESSFULLY GOT LOCATION", this.myPos )
            
            this.myPos = {
                lat: pos.coords.latitude,
                lng: pos.coords.longitude
            }
            /* this.myPos = {
                lat: 16.4023,
                lng: 120.5960
            } */
            
            if(!this.initWatch){
                
                this.myLoading.hide()
                this.myLoading.show('loading stations...')
                this.initStations()

                this.$refs.mapRef.$mapPromise.then((map) => {
                    
                    this.directionsService = new google.maps.DirectionsService
                    this.directionsDisplay = new google.maps.DirectionsRenderer
                    this.directionsDisplay.setMap(map)
                })
                this.initWatch = true
                this.center = this.myPos

            }
        },
        onError(error) {
                if(error.code == 0){
                    alert(error.message)
                }
                else if(error.code == 1){
                    alert(error.message)
                }
                else if(error.code == 2){
                    if (window.cordova && window.cordova.plugins.settings) {
                        console.log('openNativeSettingsTest is active');
                        window.cordova.plugins.settings.open("location", () => {
                                console.log('opened settings');
                                this.startGeolocation()
                            },
                            function () {
                                alert(error.message)
                            }
                        );
                    } else {
                        alert("oops something went wrong")
                    }
                }
        },
        topStationMarker(name){
            return {
                url:'https://findyoursmdc.com/fuel-watch-api/public/assets/gold' + name[0] + '.png'
                }
        },

        stationMarker(name){
            return {
                url:'https://findyoursmdc.com/fuel-watch-api/public/assets/silver' + name[0] + '.png'
                }
        },


        /* Get Stations from DataBase */
        initStations(){
            
            this.myLoading.hide('loading stations...')
            axios.get( 'get_stations'  )
            .then((response)=>{
            
                this.gas_stations = response.data
                this.topStations()

            })
            .catch( (error)=>{
                console.log(error);
            });
        },

        /* Look for Top 3 Stations (Go Down for Computations) */
        topStations(){
            this.distances_from_mypos = []
             
            this.myLoading.show('loading topsis...')
            if( this.gas_stations ){
                
                for(var x = 0; x < this.gas_stations.length; x++){
                
                    let s = this.gas_stations[x]
                    if( x == 10){
                        console.log("topStations", s) 
                    }
                    setTimeout(
                    this.getDistance(this.myPos, s), 200)
                }
            }

        },

        /* When Gas Station is Clicked */
        goToGas(x,i){
            this.gasStationDetails(x)
            this.top = i
        },
        /* Gas Station Popup Window */
        gasStationDetails(gas){
            this.endPos = gas.pos
            this.stationInfo = gas
            console.log("station info", gas)
               this.directionsService.route({
                    origin: this.myPos,
                    destination: this.endPos,
                    travelMode: 'DRIVING',
                    drivingOptions: {
                        departureTime: new Date(),  // for the time N milliseconds from now.
                        trafficModel: 'pessimistic'
                    }
                    }, (response, status) => {

                        if (status === 'OK') {
                            console.log("from here to der", response)
                            this.stationDirections = response.routes[0]
                            this.directionsDisplay.setDirections(response)
                            this.stationsDistance = this.sumDistance(this.stationDirections.legs)
                            this.stationTravelTime = this.sumTravelTime(this.stationDirections.legs)
                            this.stationKML = this.sumKML(this.stationsDistance)
                            this.stationRefuel = this.sumRefuel( gas )
                            this.stationTotal = this.sumTotal(this.stationRefuel, this.stationKML)

                            
                            this.center = this.endPos
                            this.windowOpen = true
                        } else {
                            window.alert('Directions request failed due to ' + status);
                        }
                });
           

        },



        /***  UPDATE PRICES ***/

        /* Get Image of Receipt */
        takePhoto(){
            navigator.camera.getPicture(
            (imgData) => {
                this.photoSuccess(imgData)
            },
            () => console.log("err"), 
            {  
                quality: 50,
                destinationType: Camera.DestinationType.DATA_URL,
                sourceType: Camera.PictureSourceType.CAMERA,
                encodingType: Camera.EncodingType.JPEG
            }); 
        },

        uploadPhoto(){
            //getPicture: Library
            navigator.camera.getPicture(
            (imgData) => {
                this.photoSuccess(imgData)
            },
            () => console.log("err"), 
            {  
                quality: 50,
                destinationType: Camera.DestinationType.DATA_URL,
                sourceType: Camera.PictureSourceType.PHOTOLIBRARY,
                encodingType: Camera.EncodingType.JPEG
            }); 
        },
        photoSuccess(imgData){
            
            let codedImage = 'data:image/jpeg;base64,' + imgData
            this.recognizeImage(codedImage)

        },

        /* Proccess Receipt in Backend */
        recognizeImage(codedImage){
            
            this.myLoading.show('proccessing image to text...')
            let payload = {
                'user_id' : this.user_data.user_ID,
                'imageData' : codedImage
            }
            
            axios.post( 'update_price', payload )
            .then((response)=>{
                this.myLoading.hide()
                let result = response.data
                this.ocr_image = result.image_url;
                this.ocr_fuel = result.fuel ? result.fuel : 'Cannot detect Fuel';
                this.ocr_liter = result.liter ? (result.liter).toFixed(2) : 'Cannot detect Liters';
                this.ocr_cost = result.cost ? (result.cost).toFixed(2) : 'Cannot detect Cost of Fuel';
                this.ocr_total = result.total ? (result.total).toFixed(2) : 'Cannot detect Total Cost';
            
                this.text_result_modal = true
            })
            .catch( (error)=>{  
                alert(error);
            });

        },
        submitReceipt() {
            console.log("Submit Receipt details")

            let payload = {
                user_ID: this.user_data.user_ID,
                station_ID: this.stationInfo.station.ID,
                fuel_type: this.ocr_fuel,
                liters: this.ocr_liter,
                fuel_price: this.ocr_cost,
                total_fuel_price: this.ocr_total,
                receipt_image_url: this.ocr_image
            }
            this.myLoading.show('submitting receipt details...')

            axios.post( 'submit_receipt', payload )
            .then((response)=>{
                this.myLoading.hide()
                
                alert("Receipt Sent. Updated Fuel Price")
                
                this.text_result_modal = false
                this.update_price_modal = false
                
            })
            
        },

        /* COMPUTATION FOR FUEL EFFICIENCY */
        getDistance( here , there ){
            this.directionsService.route({
                    origin: here,
                    destination: there.pos,
                    travelMode: 'DRIVING',
                    drivingOptions: {
                        departureTime: new Date(),  // for the time N milliseconds from now
                        trafficModel: 'pessimistic'
                    }
                    }, (response, status) => {

                    if (status === 'OK') {

                        this.distances_from_mypos.push({
                            'distance': this.sumDistance(response.routes[0].legs), 
                            ...there
                            })
                            if( this.distances_from_mypos.length == this.gas_stations.length ) {
                                this.myLoading.hide()
                            }

                    } else {
                        
                        setTimeout(()=>{
                            this.getDistance(here,there)
                        }, 2000)
                    }
            });
        },
        sumTravelTime(legs){
            let total = 0
            for(var x = 0 ; x < legs.length ; x++ ){
                var leg = legs[x];
                total += leg.duration_in_traffic.value;
            }
            return ( total / 60).toFixed(2)
        },
        sumDistance(legs){
            let total = 0

            for(var x=0 ; x < legs.length ; x++ ){
                var leg = legs[x];
                total += leg.distance.value;
            }
            
            return (total / 1000).toFixed(2) 
        },
        sumKML(dist){
            return  ( dist/ this.user_data.km_per_liter ).toFixed(2)
        },
        sumRefuel(gas){
            let fuel = gas.fuels.find((data) => data.fuel_type == this.user_data.fuel_type )
            return ( this.user_data.default_refuel_amt / fuel.fuel_price ).toFixed(2)
        },
        sumTotal(refuel, kml){
            return (refuel - kml).toFixed(2)
        }
    },
    mounted () {
        //document.addEventListener("deviceready", this.onDeviceReady, false)
        
        /* this.myLoading.show('loading details...') */
        this.onDeviceReady()
        this.user_data = this.$session.get('user_data');
    
        console.log("user data here", this.user_data)
    },
    computed: {

        
        sortedStations() {
            if( this.distances_from_mypos.length == this.gas_stations.length ) {
                let filtered = this.distances_from_mypos.filter( (val) => {
                    
                    for(var x = 0; x < this.filter_box.length ; x++){
                        if( (val.station.station_name.toLowerCase()).indexOf(this.filter_box[x]) > -1 ){
                            return true
                        }
                    }
                    return false

                } )
            return filtered.sort( (a, b) => {
               
                return ( this.sumTotal(this.sumRefuel(b), this.sumKML(b.distance) ) ) - ( this.sumTotal(this.sumRefuel(a), this.sumKML(a.distance) ) )
            } ) ;
            } else {
                return null
            }
        },
    
        navigateString() {
            let str = null
            console.log(str)
            return str
        }
    },
    beforeDestroy () {
        navigator.geolocation.clearWatch(this.watchID)
    }
}
</script>

