<template>
    <q-page>
        hey
    </q-page>
</template>
<script>
/* eslint-disable */
export default {
    created () {
        this.$session.clear()
        this.$router.push( "/" )
    }
}
</script>
