<template>
    <q-page>
        <div class="cover-photo-container">

        </div>
        <div class="row bg-light-primary q-px-md">
            <div class="col-12 text-center">
                <img class="profile-image" src="/statics/images/default-profile-image.png" alt="">
                <p class="profile-name q-ma-xs"><strong>{{ user_data.first_name }} {{ user_data.last_name }}</strong></p>
                <p class="q-ma-none">{{ user_data.email }}</p>
                <p class="q-caption q-ma-none">{{ user_data.contact_number }}</p>
                <p class="" @click="change_password_modal = true"> Change Password </p>
            </div>
            <div class="col-12 profile-item">
                <p class="title"> <strong> Car Brand </strong> </p>
                <p class="q-caption value"> {{ user_data.car_brand }} </p>
            </div>
            <div class="col-12 profile-item">
                <p class="title"> <strong> Car Model </strong> </p>
                <p class="q-caption value"> {{ user_data.car_model }} </p>
            </div>
            <div class="col-12 profile-item">
                <p class="title"> <strong> Fuel Type </strong> </p>
                <p class="q-caption value"> {{ user_data.fuel_type }} </p>
            </div>
            <div class="col-12 profile-item">
                <p class="title"> <strong> Default Refuelling Amount </strong> </p>
                <p class="q-caption value"> {{ user_data.default_refuel_amt }} </p>
            </div>
        </div>


         <q-modal  v-model="change_password_modal"  :minimized="true">
            <div class="row text-center q-pa-lg" v-if="change_password_modal">
                <div class="col-12">
                    <h3><strong>Log In</strong></h3>
                </div>
                <div class="col-12">
                    <q-input v-model="old_password" name="old_password" v-validate="'required'" type="password" float-label="Old Password"></q-input>
                    <span class="has-error"> {{ errors.first('old_password') }} </span>
                    <q-input v-model="new_password" name="new_password" v-validate="'required'" type="password"  float-label="New Password"></q-input>
                    <span class="has-error"> {{ errors.first('new_password') }} </span>
                </div>
                <div class="col-12 q-py-lg">
                    <q-btn class="btn-wide" color="primary" label="Submit" @click="changePass()" />
                </div>
                
                <div class="col-12">
                    <q-btn class="btn-wide" outline color="secondary"  label="Cancel" @click="change_password_modal" />
                </div>
            </div>
        </q-modal>
    </q-page>
</template>
<script>
/* eslint-disable */
export default {
    name: 'profile',
    data () {
        return {
            user_data: null,
            change_password_modal: false,
            old_password: null,
            new_password: null
        }
    },
    methods: {
        changePass(){
            this.$validator.validateAll().then(result => {
                if (result) {

                    
                    
                    this.myLoading.show('verifying details...')

                    let payload = {
                        user_id: this.user_data.user_ID,
                        old_password: this.old_password,
                        new_password: this.new_password
                    }

                    axios.post( 'change_password' , payload )
                    .then((response)=>{
                        
                        this.myLoading.hide()
                        if(response.data == 1){
                            alert("Change password success")
                            this.$router.push( "logout" )
                        }else{
                            alert("Invalid Password")
                        }
                    });
                    
                }
            });
        }
    },
    mounted () {
        this.user_data = this.$session.get('user_data');
    }
}
</script>
