<template>
    <q-page>
        EDIT PROFILE
        <q-input v-model="first_name" float-label="First Name"  />
        <q-input v-model="last_name" float-label="Last Name"  />
        <q-input v-model="email" float-label="Email" read-only />
        <q-input v-model="mobile_number" float-label="Mobile Number"  />
        <hr width="100%" >
        <q-select v-model="car_brand" :options="car_brands" float-label="Car Brand"></q-select>
        <q-select v-model="car_model" :options="car_models" float-label="Car Model"></q-select>
        <q-select v-model="fuel_type" :options="car_fuels" float-label="Fuel Type"></q-select>
        <q-input v-model="default_refuel_amt" float-label="Default Refuel Amount"  />
        <q-btn class="full-width q-my-sm" color="primary" label="UPDATE" @click="updateProfile()" />
        <!-- <q-btn class="full-width" color="negative" label="CANCEL" /> -->
    </q-page>
</template>
<script>
/* eslint-disable */
export default {
    name: 'profile-edit',
    data () {
        return {
            user_data : null,
            first_name : null,
            last_name : null,
            email : null,
            mobile_number : null,
            car_brand : null,
            car_model : null,
            fuel_type : null,
            default_refuel_amt: null,
            // OPTIONS
            cars: null,
            car_fuels: [
                {
                    label: "Diesel",
                    value: "Diesel"
                },
                {
                    label: "Gasoline",
                    value: "Gasoline"
                },
                {
                    label: "Premium",
                    value: "Premium"
                }
            ]
        }

    },
    methods : {
        updateProfile () {
            let user = {
                'first_name' : this.first_name,
                'last_name' : this.last_name,
                'email' : this.email,
                'mobile_number' : this.mobile_number
            }
            let user_meta = {
                'car_ID': this.car_model,
                'fuel_type' : this.fuel_type,
                'default_refuel_amt' : this.default_refuel_amt
            }
            let payload = {
                'user' : user,
                'user_meta' : user_meta,
                'user_id' : this.user_data.user_ID
            }
            console.log(payload)
            
            axios.post( 'edit_user' , payload )
            .then((response)=>{
                console.log(response)
                if(response.data.length > 0){
                    alert('user successfully updated')
                    this.$session.set('user_data', response.data[0])
                    this.$router.go( -1 ) 
                }else{
                    console.log('oops something went wrong!')
                }
            })
            .catch( (error)=>{
                console.log(error);
            });
        }
    },
    mounted () {
        axios.get( 'get_cars' )
        .then((response)=>{
            console.log(response.data)
            this.cars = response.data
        })
        this.user_data = this.$session.get('user_data');
        this.first_name = this.user_data.first_name
        this.last_name = this.user_data.last_name
        this.email = this.user_data.email
        this.mobile_number = this.user_data.mobile_number
        this.car_brand = this.user_data.car_brand
        this.car_model = this.user_data.car_ID
        this.fuel_type = this.user_data.fuel_type
        this.default_refuel_amt = this.user_data.default_refuel_amt
    },
    computed: {
      car_models () {
        
        let models = []
        if(this.cars){
        this.cars[this.car_brand].forEach ( (car) => models.push({ label: car.car_model, value:car.ID }) )
        }
        return models
      },
      car_brands () {
            let brands = []
            if(this.cars){
            Object.keys(this.cars).forEach( (car) => brands.push({ label: car, value: car })  )
            }
            return brands
      }

  }
}
</script>