// app global css
@import 'themes/common.variables.styl';


.help-container{
        background-size: contain;    
        background-position: center;
        background-repeat: no-repeat;
        width:100vw!important;
        height:100vh!important;
}

.text-tap{
    color:$primary;
    text-decoration:underline;
}

.btn-wide{
    padding-left:30px;
    padding-right:30px;
}

.drawer-bottom{
  border-top:lightgray solid 1px;
}

.has-error{
    color: $negative;
    text-align: left!important;
}

.q-layout-drawer{
    .q-item{
        padding:20px;
    }
}

.profile-name{
    font-size:18px;
}

.q-layout-header{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.cover-photo-container{
    background-color: $primary;
    height: 20vh;
    width:100%;
}

.profile-image{
    margin-top: -30px;
}

.bg-light-primary{
    background-color: $lightPrimary;
    min-height: 70vh;
}

.station-info{
    
    div{
        margin-bottom:5px;
        min-width:100%;
    }
    .name{
        margin-top:10px;
        text-align:center;
        font-size:16px;
        font-weight:bold;
    }
    .location{
        text-align:center;
        color:gray;
        margin-bottom:10px;
    }
    .price{
        margin-top:10px;
        .active{
            background-color: $lightPrimary
        }
    }

}

.top-station{
    background-color: #ffba5c;
    color: white;
   
    
    .col{
        border-bottom: solid 5px #ffba5c;
        .heading{
            margin: 0px;
        }
        &.active{
        border-bottom-color: rgba($primary,.5) !important;
        }
    }
    
    
}