<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header v-if="this.$route.name != 'home'">
      <q-toolbar color="primary">
        <q-btn
        flat round dense
        icon="arrow back" @click="goBack()"
        />
        <q-toolbar-title>
        </q-toolbar-title>
         <q-btn
        flat round dense
        icon="edit"
        v-show="this.$route.name == 'profile'"
        @click="goToProfileEdit()"
        />
      </q-toolbar>
    </q-layout-header>

    <q-layout-header v-else  >
      <q-toolbar color="primary">
        <q-btn flat round dense icon="menu" @click="left = !left" aria-label="Toggle menu on left side" />
        <q-toolbar-title>
          Gas
        </q-toolbar-title>
        
      </q-toolbar>
    </q-layout-header>
    <q-layout-drawer
      side="left"
      v-model="left"
      class="my-drawer"
    >
        <q-list-header class="q-pt-lg">
          <div class="row">
            <div class="col-12 text-center">
              <img src="statics/images/default-profile-image.png" alt="">
              <p class="profile-name q-pa-md">{{ user_data.first_name }} {{ user_data.last_name }}</p>
            </div>
          </div>
        </q-list-header>
        <q-item to="/dashboard/profile">
          <q-item-side icon="account circle" />
          <q-item-main label="Profile" sublabel="" />
        </q-item>
        <q-item to="/dashboard/help">
          <q-item-side icon="help" />
          <q-item-main label="Help" sublabel="" />
        </q-item>
        <div class="fixed-bottom drawer-bottom">
          <!-- <q-item to="/dashboard/settings">
            <q-item-side icon="settings" />
            <q-item-main label="Settings" sublabel="" />
          </q-item> -->
          <!-- <q-item >
            <q-item-side icon="logout" />
            <q-item-main label="Logout" sublabel="" />
          </q-item> -->
          <div class="logout-item" @click="goToLogout()">
            <q-item >
            <q-item-side icon="logout" />
            <q-item-main label="Logout" sublabel="" />
          </q-item>
          </div>
        </div>
    </q-layout-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
/* eslint-disable */
export default {
  name: 'dashboard',
  data () {
    return {
      left: false,
      user_data: null
    }
  },
  methods : {
    logoutUser () {
      console.log("LOGOUT")
    },
    goBack () {
      this.$router.go( -1 )
    },
    goToProfileEdit() {
      this.$router.push( "profile-edit" )
    },
    goToLogout(){
     this.$q.dialog({
          title: 'Logout',
          message: 'Are you sure?',
          ok: 'Logout',
          cancel: 'Cancel'
        }).then(() => {
          this.$router.push( "logout" )
        }).catch(() => {
          console.log('cancel')
        })
    }

  },
  created () {
    if(!this.$session.has('user_data')){
      this.$router.push( "/" )
    } else {
      this.user_data = this.$session.get('user_data');
    }
  }

}
</script>
